body {
	background-image: url("/home/duong/Dropbox/FFC/vntribute/sky-and-clouds.jpg");
	background-repeat: no-repeat;
	font: 1.5 Times, serif;
	max-width: 100%;
	margin: 0;
	padding: 0;
}
.container {
	background-color: #ad1f1f;
	font-color: #f0cd42;
	border-radius: 3px;
	margin: 16px;
}
.img_body {
 	background-color: #f0cd42;
 	border-radius: 3px;
}
.vn_title {
	color: #f0cd42;
	font-family: Eagle Lake;
	font-size: 50px;
	padding: 16px;
}
.vn_description {
	color: #f0cd42;
	margin: 16px 0;
} 
.history_text,.country_link {
	color: #f0cd42;
	margin: 16px;
}
p, ul {
	padding: 8px;
}
.visit_box {
	background-color: #f0cd42;
	font-size: 30px;
}
footer{
	padding-top: 64px;
}